.App {
    text-align: center;
  }
  
  .logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 30vmin;
    width: 30vh;
    flex-direction: column;
  
    pointer-events: none;
  }
  
  .pictures {
    background-color: #ffffff;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    font-size: calc(4px + 2vmin);
    color: rgb(12, 11, 11);
  }